
@{
    ViewBag.Title = "NotAuthenticated";
}

<h2>NotAuthenticated</h2>
<div class="alert alert-danger">
    <h2>Not Authenticated</h2>
    You are not this user
</div>
<br />
@Html.ActionLink("Return to home", "Index", "Home")


