﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #F9B921;
    color: #423d3d;
}

.navbar-inverse {
    background-color: #2F1A5D;
}

    .navbar-inverse .navbar-brand {
        color: #FFFFFF;
    }


    .navbar-inverse .navbar-nav > li > a {
        color: #F9B921;
    }
