@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Recognition</h1>
    <p class="lead">Centric sets out to build the best culture in the consulting industry – one that cares about the work we do and the people we work with. A culture that celebrates individuals and creates lifelong friendships. Recognition is a vital aspect of culture and we encourage the support of one another. <br /> <br />Celebrate those around you by calling out the wins of your fellow team members for all to see!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Employee List</h2>
        <p>
            <a class="btn btn-default" onclick="location.href='@Url.Action("Index", "EmployeeDetails")'"> List of Employees </a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Recognition Board</h2>
        <p>
            
            <a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Recognitions")'"> Recognition Board </a>
        </p>
    </div>
</div>
