@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric's Recognition Board</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Existing Users</h2>
        <p>
            <a class="btn btn-default" onclick="location.href='@Url.Action("Login", "Account")'"> Login </a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>New Users</h2>
        <p>
            <a class="btn btn-default" onclick="location.href='@Url.Action("Register", "Account")'"> Create Account </a>







            <a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Recognitions")'"> Login </a>
        </p>
    </div>
</div>