@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 style="color:white; text-align:center">Centric Recognition</h1>
        <p class="lead" ; style="text-align:center">Centric sets out to build the best culture in the consulting industry – one that cares about the work we do and the people we work with. A culture that celebrates individuals and creates lifelong friendships. Recognition is a vital aspect of culture and we encourage the support of one another. <br /> <br />Celebrate those around you by calling out the wins of your fellow team members for all to see!</p>
        <br />
        <h2 style="color:white; text-align:center">Recognition Board</h2>
        <p class="lead" ; style="text-align:center">
            Please sign in/sign up to view our recognition board!<br />
            <a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Recognitions")'"> Recognition Board </a>
        </p>

    </div>
<br />

